<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1 style=font-size:60px>{{ head }}</h1>
    <ul>
        <li style="font-size:30px">Atomic Heart <button>{{ button }}</button></li>
        <li style="font-size:30px">Cyberpunk 2077 <button>{{ button }}</button></li>
        <li style="font-size:30px">PayDay <button>{{ button }}</button></li>
    </ul>
    <a href="http://127.0.0.1:8000/"><button style="font-size:20px">Вернуться обратно</button></a>
</body>
</html>